{% extends "base.html" %}

{% block header %}
    <h2>Registrieren</h2>
{% endblock header %}

{% block content %}
    <form action="" method="post">
        <input type="text" name="username" id="username" placeholder="Benutzername" value="{{ form_data.get('username', '') }}" required>
        
        <input type="email" name="email" id="email" placeholder="Email Adresse" value="{{ form_data.get('email', '') }}" required>
        <input type="email" name="email-check" id="email-check" placeholder="Email Adresse wiederholen" value="{{ form_data.get('email-check', '') }}" required>
        
        <input type="password" name="password" id="password" placeholder="Passwort" required>
        <input type="password" name="password-check" id="password-check" placeholder="Passwort wiederholen" required>        
        
        <input type="checkbox" id="agb" name="agb" value="agb-accepted" required>
        <label for="agb">Ich habe die <a href="/agb">AGB</a> gelesen und akzeptiert</label>
        
        <input type="checkbox" id="dsgvo" name="dsgvo" value="dsgvo-accepted" required>
        <label for="dsgvo">Ich habe die <a href="/dsgvo">DSGVO</a> gelesen und akzeptiert</label>
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <button type="submit">Registrieren</button>
    </form>
{% endblock content %}